<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Had to add this because of
         AppOps system_server Exception:
         attributionTag not declared in manifest of com.pdx.ym.waveviewer -->
    <attribution
        android:label="@string/media_operations_default_label"
        android:tag="media_operations_default" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParadoxWaveViewer">

        <activity
            android:name="com.paradoxcat.waveformtest.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>